.jumbotron {
  padding-top: 2rem;
  background-color: #ffffb7;
}

#resume {
  background-color: #fcfbce;
}

#contact {
  background-color: #fcfbce;
}

section {
  padding-top: 5rem;
}

.carousel-inner > .item > img {
  min-width: 100%;
  width: 100%;
}
.fixed-height {
  max-height: 400px;
}
