.jumbotron {
  padding-top: 2rem;
  background-color: #ffffb7;
}

#resume {
  background-color: #ffffb7;
}

#contact {
  background-color: #ffffb7;
}

section {
  padding-top: 5rem;
}

.carousel-inner > .item > img {
  min-width: 100%;
  width: 100%;
}
.fixed-height {
  max-height: 400px;
}

.carousel {
  margin-bottom: 60px;
}

.carousel .item {
  min-width: 100%;
}

.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0 #ffdd81;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #84fab0, #ffdd81);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #84fab0, #ffdd81);
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), #ffdd81);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(132, 250, 176, 1), #ffdd81);
}
